  rect.bar {
 
  }
  
  rect.toolTip {
	  
  }
  
  .yLabel text {
	  alignment-baseline: central;
	  font-size: 12px;
	  fill: white;
	  
	  cursor : default;
	  
	  -webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	  -khtml-user-select: none;    /* Konqueror */
	  -moz-user-select: none;      /* Firefox */
	  -ms-user-select: none;       /* Internet Explorer/Edge */
	  user-select: none;           /* Non-prefixed version, currently
									  not supported by any browser */
  }

  .axis path,
  .axis line {
    fill			: none;
    stroke			: #000;
    shape-rendering	: crispEdges;
  }

  .axis text {
    font-size: 12px;
  }

  .svg .current {
    fill	: green;
    cursor	: pointer;
  }